
DATABASE_URL=postgres://user:password@localhost:5432/database_name

# Exemple de configuration pour Better-Auth
BETTER_AUTH_SECRET=your-better-auth-secret
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
